.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}

.form-block-margin {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.div-block-padding {
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.label-style {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.radio-checkbox {
  border-color: #333333 !important;
}

.max-height-100 {
  max-height: 100%;
}
