.profile-pic {
  padding: 0px 20px;
  line-height: 44px;
}

.profile-pic img {
  margin-right: 10px;
}

.img-circle {
  border-radius: 50%;
}

.navbar-top-links {
  margin-right: 0;
}

.navbar-top-links .dropdown-menu li {
  display: block;
}

.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
  width: 300px;
}

.navbar-top-links .dropdown-user .dw-user-box {
  padding: 5px;
}

.navbar-top-links .dropdown-user .dw-user-box .u-img {
  width: 114px;
  display: inline-block;
  vertical-align: top;
}

.navbar-top-links .dropdown-user .dw-user-box .u-img img {
  width: 102%;
  border-radius: 5px;
}

.navbar-top-links .dropdown-user .dw-user-box .u-text {
  display: inline-block;
  padding-left: 10px;
  width: 141px;
}

.navbar-top-links .dropdown-user .dw-user-box .u-text h4 {
  margin: 0px;
  color: #3899dd;
}

.navbar-top-links .dropdown-user .dw-user-box .u-text p {
  margin-bottom: 3px;
}

.text-muted {
  color: #8d9ea7;
}

.dropdown-menu {
  border: 1px solid rgba(120, 130, 140, 0.13);
  border-radius: 0px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: 0px !important;
  -moz-box-shadow: 0px !important;
  padding-bottom: 8px;
  margin-top: 0px;
}

.dropdown-menu > li > a {
  padding: 9px 20px;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background: rgba(255, 255, 255, 0.2);
}

//
// profile
//
.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 150px;
  white-space: nowrap;
}

/*
 square buttons
*/

.dropdown-menu {
  padding-left: 5px;
  padding-right: 5px;
  width: 300px;
}

.btn-sq-ced {
  margin: 4px;
}

.btn-ced-sq {
  float: left;
}

.btn-ced-sq a {
  position: relative;
  display: block;
  width: 88px !important;
  height: 88px !important;
}

.btn-ced-sq a span {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.btn.btn-sq-md {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 88px !important;
  height: 88px !important;
}

.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
  color: #fff !important;
  margin-bottom: 3px;
}

.btn-sq {
  width: 88px !important;
  height: 88px !important;
  font-size: 10px;
  color: #fff !important;
  margin-bottom: 3px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
  color: #fff !important;
  margin-bottom: 3px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding: 2px;
  color: #fff !important;
  margin-bottom: 3px;
}

.hand {
  cursor: pointer;
}

.logout {
  display: block;
  width: 80%;
  border: none;
  background-color: #3899dd;
  color: white;
  cursor: pointer;
  text-align: center;
}

.k-dialog-wrapper {
  border: none;
}

.k-dialog-button-layout-stretched .k-primary:not(:hover):not(.k-state-hover):not(:active):not(.k-state-active) {
  color: white;
  background-color: #3899dd;
}

.main {
  min-height: calc(100vh - 45px);
  width: 100vw;
  height: 100vh;
}

.breadcrumbs {
  padding: 0px;
}
