<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="clearfix">

          <div class="row">
            <div class="col-md-3" style="text-align: left;">
              <img src="assets/img/favicon.png" style="width: 150px; height: auto;"><br/>
              <h1 class="float-left display-3 mr-2"></h1>
            </div>
            <div class="col-md-9">
              <h3 class="pt-2">We are sorry, the page you requested cannot be found.</h3>
              <p class="text-muted">Unauthorised Access is denied due to invalid roles.</p>
              <p (click)="redirect()" class="text-muted" style="cursor: pointer;">Go back to Login.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
