<div class="row with-b-shadow">
  <div class="col-md-6">
    <div class="d-flex justify-content-satrt col-md-12">
      <div class="card col-md-2 no-padding">
        <button (click)="onExitClick()" class="btn ced-blue bar-cmd darker-blue-on-hover" id="exitButton"
                style="margin: 0.5em; width: auto;">
          <i aria-hidden="true" class="fa-2x far fa-times-circle"></i>
        </button>
      </div>
      <div class="card col-md-2 no-padding">
        <button class="btn ced-blue bar-cmd darker-blue-on-hover" id="saveButton" style="padding: 0.5em; width: auto;">
          <i aria-hidden="true" class="fa-2x far fa-floppy-o information-bar-button"></i>
        </button>
      </div>
      <div class="card col-md-10"></div>
    </div>
  </div>
  <div class="card col-md-6"></div>
</div>
